.ui-framework-item {
  padding: 20px;
}

.container {
  padding-left: 150px;
  padding-right: 150px;

  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

/* Other styles, not relevant for the demo: */

body {
  font-family: "Arial", "Helvetica", sans-serif;
}

#what-happened-link {
  display: none;
  margin-top: 20px;
}

.container div {
  margin-bottom: 1em;
}

.container button {
  font-weight: bold;
  padding: 10px;
  margin-top: 10px;
}

.container pre {
  white-space: pre-line;
  margin-left: 40px;
}
