.ui-framework-button {
  padding: 10px;
}

.login-button {
  padding-left: 100px;
  padding-right: 100px;
  position: absolute;
  right: 70px;
  top: 40px;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
}
